# ASSIGNMENT 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("brand_details.csv",sep="\t")

In [3]:
df

,Rank,Brand,Brand_Value,Change_LastYr,Brand_Revenue,Company_Advertising,Industry
0,1,Apple,145.3,17,182.3,1.200,Technology
1,2,Microsoft,69.3,10,93.3,2.300,Technology
2,3,Google,65.6,16,61.8,3.000,Technology
3,4,Coca-Cola,56.0,0,23.1,3.500,Beverages
4,5,IBM,49.8,4,92.8,1.300,Technology
5,6,McDonalds,39.5,-1,87.8,0.808,Restaurants
6,7,Samsung,37.9,8,187.8,3.800,Technology
7,8,Toyota,37.8,21,171.1,3.800,Automotive
8,10,Facebook,36.5,54,12.1,0.135,Technology
9,11,Disney,34.6,26,26.4,2.800,Leisure
10,12,AT&T,29.1,17,132.4,3.300,Telecom
11,13,Amazon,28.1,32,87.5,3.300,Technology
12,14,Louis Vuitton,28.1,-6,10.1,4.600,Luxury
13,15,Cisco,27.6,-2,48.1,0.196,Technology
14,17,Oracle,26.8,4,38.8,0.079,Technology
15,18,NIKE,26.3,19,28.3,3.000,Apparel
16,19,Intel,25.8,-8,55.9,1.800,Technology
17,20,Wal-Mart,24.7,6,313.0,2.400,Retail
18,21,Verizon,24.5,14,127.1,2.500,Telecom
19,22,American Express,23.4,13,36.0,3.300,Financial Services
20,23,Honda,22.6,-3,101.3,2.700,Automotive
21,26,Gillette,20.4,7,7.9,9.200,Consumer Packaged Goods
22,29,Pepsi,19.0,0,12.6,2.300,Beverages
23,30,Visa,18.8,17,12.7,0.900,Financial Services
24,32,ESPN,16.2,10,10.9,2.800,Media
25,35,Hewlett-Packard,14.7,3,111.5,0.784,Technology
26,37,Home Depot,13.0,10,83.2,2.300,Retail
27,38,Frito-Lay,13.1,8,11.7,0.884,Consumer Packaged Goods
28,41,Ford,12.5,13,139.3,4.300,Automotive
29,44,Accenture,12.0,14,32.8,0.088,Business Services
30,47,Wells Fargo,11.4,13,88.4,0.653,Financial Services
31,48,Fox,11.3,5,13.3,2.900,Media
32,49,Pampers,11.1,8,10.7,9.200,Consumer Packaged Goods
33,50,Ebay,11.0,21,7.6,1.300,Technology
34,51,Hermès,10.6,-2,5.3,0.269,Luxury
35,52,Starbucks,10.5,21,16.0,0.199,Restaurants
36,53,MasterCard,10.4,19,9.5,0.862,Financial Services
37,56,J P Morgan,9.5,2,46.7,2.600,Financial Services
38,59,Kelloggs,9.3,12,6.9,1.100,Consumer Packaged Goods
39,60,Kraft,9.2,4,7.1,0.652,Consumer Packaged Goods
40,61,Colgate,9.0,7,4.0,1.800,Consumer Packaged Goods
41,62,Chevrolet,9.0,4,77.7,5.200,Automotive
42,63,Coach,8.6,-3,4.5,0.130,Luxury
43,64,Hyundai,8.4,7,52.8,1.900,Automotive
44,69,Santander,7.6,12,52.6,0.834,Financial Services
45,70,John Deere,7.6,6,36.1,0.174,Heavy Equipment
46,71,Chase,7.4,14,51.3,2.600,Financial Services
47,72,Bank of America,7.3,-1,76.8,1.800,Financial Services
48,74,Prada,7.3,-9,3.7,0.218,Luxury
49,75,Nissan,7.3,-10,96.6,2.600,Automotive
50,79,Sony,6.9,21,63.6,3.200,Technology
51,80,FedEx,6.9,5,47.2,0.407,Transportation
52,81,Citi,6.9,16,90.6,1.800,Financial Services
53,89,Ralph Lauren,6.6,-1,7.1,0.256,Apparel
54,92,Target,6.4,13,72.6,1.600,Retail
55,94,Hershey,6.3,10,4.6,0.570,Consumer Packaged Goods
56,97,KIA Motors,6.2,-11,42.9,0.992,Automotive
57,98,Sprite,6.2,2,3.7,3.500,Beverages
58,99,MTV,6.2,6,3.4,1.000,Media
59,100,Estee Lauder,6.1,4,4.5,2.800,Consumer Packaged Goods

# Problem 1 - Which industry has the maximum brands whose Brand_Revenue > 80 Million (Brand revenue is in millions)

In [51]:
#I have attempted this question in two parts:
#First I have filtered the Industries whose "Brand_Revenue"is Greater than 80.
new=df.loc[df["Brand_Revenue"]>80]
new

,Rank,Brand,Brand_Value,Change_LastYr,Brand_Revenue,Company_Advertising,Industry
0,1,Apple,145.3,17,182.3,1.200,Technology
1,2,Microsoft,69.3,10,93.3,2.300,Technology
4,5,IBM,49.8,4,92.8,1.300,Technology
5,6,McDonalds,39.5,-1,87.8,0.808,Restaurants
6,7,Samsung,37.9,8,187.8,3.800,Technology
7,8,Toyota,37.8,21,171.1,3.800,Automotive
10,12,AT&T,29.1,17,132.4,3.300,Telecom
11,13,Amazon,28.1,32,87.5,3.300,Technology
17,20,Wal-Mart,24.7,6,313.0,2.400,Retail
18,21,Verizon,24.5,14,127.1,2.500,Telecom
20,23,Honda,22.6,-3,101.3,2.700,Automotive
25,35,Hewlett-Packard,14.7,3,111.5,0.784,Technology
26,37,Home Depot,13.0,10,83.2,2.300,Retail
28,41,Ford,12.5,13,139.3,4.300,Automotive
30,47,Wells Fargo,11.4,13,88.4,0.653,Financial Services
49,75,Nissan,7.3,-10,96.6,2.600,Automotive
52,81,Citi,6.9,16,90.6,1.800,Financial Services

In [67]:
#Second I have grouped the industries and evaluated the count and on the basis of the count (found the industry corresponding to the maximum count) 
print(new.groupby(by="Industry")["Brand"].count())
print(new.groupby(by="Industry")["Brand"].count().max())
print(new["Industry"][new.groupby(by="Industry")["Brand"].count().max()])

Industry
Automotive            4
Financial Services    2
Restaurants           1
Retail                2
Technology            6
Telecom               2
Name: Brand, dtype: int64
6
Technology

# Problem 2 - List the companies whose Company_Advertising budget is < 3 but Brand_Value is > 20

In [51]:
df.loc[(df['Company_Advertising']<3) & (df['Brand_Value'] > 20)][['Brand','Company_Advertising',"Brand_Value"]]

        Brand  Company_Advertising  Brand_Value
0       Apple                1.200        145.3
1   Microsoft                2.300         69.3
4         IBM                1.300         49.8
5   McDonalds                0.808         39.5
8    Facebook                0.135         36.5
9      Disney                2.800         34.6
13      Cisco                0.196         27.6
14     Oracle                0.079         26.8
16      Intel                1.800         25.8
17   Wal-Mart                2.400         24.7
18    Verizon                2.500         24.5
20      Honda                2.700         22.6

# Problem 3 - Find out the top 5 Technology Brand that showed maximum positive jump in their position (Use Change_LastYr)

In [103]:
top=df.loc[(df["Industry"]=="Technology")]
top_1=top.nlargest(5,columns=["Change_LastYr"])
top_1.loc[:,["Brand","Change_LastYr","Industry"]]

       Brand  Change_LastYr    Industry
8   Facebook             54  Technology
11    Amazon             32  Technology
33      Ebay             21  Technology
50      Sony             21  Technology
0      Apple             17  Technology

# Problem 4 - Find out the Average Brand_Revenue by Industry

In [127]:
df.groupby("Industry")["Brand_Revenue"].mean()

Industry
Apparel                     17.700000
Automotive                  97.385714
Beverages                   13.133333
Business Services           32.800000
Consumer Packaged Goods      7.175000
Financial Services          51.622222
Heavy Equipment             36.100000
Leisure                     26.400000
Luxury                       5.900000
Media                        9.200000
Restaurants                 51.900000
Retail                     156.266667
Technology                  80.238462
Telecom                    129.750000
Transportation              47.200000
Name: Brand_Revenue, dtype: float64